@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

.logic-line { position: relative; }
.logic-line::before { content: ''; position: absolute; left: 0; top: 0; bottom: 0; width: 4px; background-color: #004bca; }